* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --white: #fff;
  --yellow: #eece1a;
  --black: #000;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.home {
  height: 100vh;
  width: 100%;
}

.leftside {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 40px;
  flex-direction: column;
  background: rgba(68, 68, 68, 0.9);
}
.leftside h1 {
  font-size: 6rem;
  font-weight: 500;
  color: var(--white);
}
.leftside .lastname {
  color: var(--yellow);
}
.leftside .text {
  padding: 1rem;
  background: rgba(73, 73, 73, 0.5);
}
.leftside .text p {
  font-size: 1.5em;
  color: var(--white);
}
.toggler {
  position: absolute;
  right: 30px;
  top: 30px;
  color: var(--white);
  z-index: 999;
  font-size: 2rem;
  cursor: pointer;
}
.menu {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: 0.5s ease all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side-menu {
  bottom: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.801);
  z-index: 5;
}
.right-side-menu {
  top: 0;
  right: 0;
  background-color: #373737de;
  z-index: 5;
}
.left-side-menu-hide {
  bottom: -100%;
}
.right-side-menu-hide {
  top: -100%;
}
.profile {
  width: 250px;
  height: 250px;
  border: 3px solid var(--yellow);
  border-radius: 50%;
}
.profile-img {
  border-radius: 50%;
}
.nav-menu {
  text-align: center;
}
.nav-menu ul li {
  list-style: none;
}
.nav-menu ul li a {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0.8rem 0;
  font-weight: 300;
  color: var(--white);
  text-decoration: none;
}
.nav-menu ul li a:hover {
  color: var(--yellow);
}

.download-button {
  background-color: var(--yellow);
  width: max-content;
  padding: 10px 20px;
  /* margin-top: 10px; */
  border-radius: 10px;
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.download-button:hover {
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
  transition: 0.4s;
}
/* .play-btn {
  background: none;
  border: none;
  outline: none;
} */
.typed-text {
  color: var(--white) !important;
  font-size: 30px !important;
}
/* ===================== about ==================== */
.page {
  width: 100%;
  min-height: 100vh;
  background: #444;
  padding: 64px 0 0 0;
  /* overflow-y: auto; */
}

.header h1 {
  font-size: 6rem;
  color: var(--white);
}
.header h1 span {
  color: var(--yellow);
}
.header .text {
  margin-bottom: 2rem;
  padding: 1rem;
  background: rgba(73, 73, 73, 0.5);
}
.header .text p {
  color: var(--white);
  margin: 0;
  font-size: 24px;
}
.detail-text {
  font-size: 1.5rem;
}
.detail-text h5 {
  font-size: 1.5rem;
  color: var(--yellow);
  margin-bottom: 25px;
}
.detail-text p {
  color: var(--white);
  line-height: 45px;
}
.detail-text p span {
  color: var(--yellow);
}
.job-info {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #eece1a 5px solid;
  color: var(--white);
}
.job-info h3 {
  font-size: 1.17rem;
}
.job-info h5 {
  font-size: 0.67em;
  margin: 20px 0;
}
.job-info p {
  font-size: 16px;
}
.footer {
  padding: 1rem;
  background: #2b2b2b;
  color: var(--white);
}
/* ======================= my work ======================= */
.projet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 7px;
}
.projet figure {
  border: 3px solid var(--white);
  margin: 0;
}
.source-code,
.live-preview {
  width: 100%;
  padding: 7px 7px 7px 15px;
  text-decoration: none;
  font-weight: 500;
}

.live-preview {
  background-color: #c4c4c4;
  color: #333;
}
.source-code {
  background-color: #000;
  color: var(--white);
}
.live-preview:hover,
.source-code:hover {
  background: var(--yellow);
  color: #000;
}
.contacts a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--white);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.contacts .contact {
  border: 3px solid var(--white);
  height: 100px;
}
.contacts a span {
  color: var(--yellow);
}
.contacts .contact a:hover {
  background: var(--yellow);
  color: #000;
}
.contacts .contact a:hover span {
  color: #000;
}
.overFlow-scroll {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
@media only screen and (max-width: 600px) {
  .contacts a {
    font-size: 15px;
  }
  .header h1 {
    font-size: 3rem;
  }
  .menu {
    width: 100%;
    height: 50%;
  }
  .left-side-menu {
    top: 0 !important;
  }
  .right-side-menu {
    top: 50% !important;
  }
  .right-side-menu-hide {
    right: -100%;
  }
  .left-side-menu-hide {
    left: -100%;
  }
  .leftside h1 {
    font-size: 3rem;
  }
  .download-button {
    padding: 8px 13px;
    border-radius: 8px;
    font-size: 16px;
  }
  .typed-text {
    font-size: 20px !important;
  }
}

.loader {
  width: 100%;
  height: 100vh;
  background: rgba(68, 68, 68, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
